.list_card {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 5rem !important;
}

.pogination {
  margin: auto !important;
}
