.list_card {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 5rem !important;
}

.pogination {
  margin: auto !important;
}
.filterforadaptive {
  display: none !important;
}
@media all and (max-width: 1293px) {
  .filterforadaptive {
    display: block !important;
  }
}
