.Nav__container {
  background-color: transparent !important;
  color: black !important;
  width: 85% !important;
  margin: auto !important;
  box-shadow: none !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.357) !important;
  padding-bottom: 0 !important;
}

.title__nav {
  font-size: 20px !important;
  font-weight: 900 !important;
  color: #46a358 !important;
  margin-left: 1rem !important;
}

.pages__btn_nav {
  text-decoration: none !important;
  margin-left: 2rem !important;
}
.pages__btn_nav:hover {
  font-weight: 700 !important;
  padding-bottom: 1rem !important;
  border-bottom: 5px solid #46a358 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 0px !important;
}

.linkNav {
  text-decoration: none;
}
.admin__btn_nav:hover {
  font-weight: 700 !important;
  padding-bottom: 1rem !important;
  border-bottom: 5px solid #46a358 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 0px !important;
}

.logBtn {
  background-color: #46a358 !important;
  font-weight: 900 !important;
  margin-right: 2rem !important;
}

.searchNav {
  margin-right: 2rem !important;
}

.cartNav {
  margin-right: 2rem !important;
}
