#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ================= */

.slideLeftSide {
  text-align: start;
  width: 40%;
}

.slidePar {
  font-weight: 700;
}

.sideh1 {
  font-size: 70px;
  margin: 0;
}

.slideh1span {
  color: #46a358;
}

.slideSecondPar {
  font-size: 15px;
  color: #00000091;
}

.slideBtnShop {
  background-color: #46a358 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-top: 2rem !important;
}

.slideBoxOfImg {
  display: flex;
  align-items: end;
}

.firstImg {
  width: 35% !important;
}

.secondImg {
  width: 70% !important;
=======
/* tipa animation */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.video-bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.effects {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.video-bg__content {
  z-index: 2;
  color: #ffffff;
  font-size: 50px;
}
.main {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 20px;
}
