#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= */

.slideLeftSide {
  text-align: start;
  width: 40%;
}

.slidePar {
  font-weight: 700;
}

.sideh1 {
  font-size: 70px;
  margin: 0;
}

.slideh1span {
  color: #46a358;
}

.slideSecondPar {
  font-size: 15px;
  color: #00000091;
}

.slideBtnShop {
  background-color: #46a358 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-top: 2rem !important;
}

.slideBoxOfImg {
  display: flex;
  align-items: end;
}

.firstImg {
  width: 35% !important;
}

.secondImg {
  width: 70% !important;
}
