.sidebar__container {
  width: 30% !important;
  margin-top: 8rem !important;
  padding-left: 3rem !important;
}

.sidebar-first-part {
}

.sidebar__inp {
}

.sidebar-first__title {
  font-size: 18px !important;
  color: black !important;
  font-weight: 600 !important;
}

.categorie__all {
}

.categories__hose-plants {
}

.categories__potter-plants {
}

.categories__seeds {
}

.categories__small-plants {
}

.categories__big-plants {
}

.categories__succulents {
}

.categories__terrariums {
}

.categories__gardening {
}

.categories__accessories {
}

.sidebar-second-part {
}

.sidbar-second-part__title {
}

.categories__all {
}

.categories__small {
}

.categories__medium {
}

.categories__large {
}

.add__img {
}
